*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: seashell;
    border-radius: 15px;
}
.tete{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: orangered;
    z-index: 1000;
    border: 1px solid ;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-radius: 15px;
}
.menu{
    display: none;
}
.nav-bar{
    padding: 0px;
    margin: 0px;
    border-radius: 15px;
    background-color: white;
    display: flex;
     justify-content: space-between;
    align-items: center;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    list-style: none;
}
li{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
li a{
    text-decoration: none;
    color: white;
}
/*---passage de la souris*/
ul li:hover{
    background-color: green;
}
.nav-bar ul li a:hover{
    background-color: green;
    text-decoration: underline;
}
/*---fin passage de la souris*/
/*---pour les tablette et android*/
@media screen and (max-width: 600px){
   .tete{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 10px 2%;
       background-color: orangered;
       border: 1px solid orangered;
       width: 100%;
       box-shadow: 0 0 10px rgba(0,0,0,0.1);
   }
   .menu{
       display: block;
       font-size: 1.5em;
       color: black;
   }
   .nav-bar{
       padding: 0px;
       margin: 0px;
       border-radius: 5px;
       background-color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   ul{
       padding: 0px;
       margin: 0px;
       list-style: none;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   ul li{
       padding: 5px;
       margin: 5px;
       border-radius: 5px;
       background-color: orangered;
       color: white;
       font-size: 1em;
       font-weight: bold;
       text-transform: uppercase;
       text-align: center;
       box-shadow: 0 0 10px rgba(0,0,0,0.1);
   }
   li{
       padding: 10px;
       margin: 10px;
       border-radius: 10px;
       background-color: orangered;
       color: white;
       font-size: 1em;
       font-weight: bold;
       text-transform: uppercase;
       text-align: center;
       box-shadow: 0 0 10px rgba(0,0,0,0.1);
   }
   li a{
       text-decoration: none;
       color: white;
   }
   /*---passage de la souris*/
   ul li:hover{
       background-color: green;
   }
   .nav-bar ul li a:hover{
       background-color: green;
       text-decoration: underline;
   }
   /*---fin passage de la souris*/

}
/*menu vertical*/

.section-principale{
    padding: 5% 0% 0% 0%;
    background-color: white;
    border: 2px solid black;
    display : grid ;
    grid-template-columns : 25% 75%;
}
.recherche{
    background-color: orangered;
    padding: 1% 1% 10% 1%;
}
.reche{
    background-color: silver;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}
input{
    background-color: silver;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
}
.menu-vertical{
   background-color: orangered;
   padding: 10% 5% 0% 5%;
   margin: 0% 0% 0% 0%;
}
.titre{
    background-color:orangered;
    padding: 0% 0% 0% 0%;
    width: auto;
}
.titre p{
  background-color: orangered;
  padding: 5% 0% 5% 0%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
.sous-titre{
   background-color: white;
   border: 1px solid silver;
   border-radius: 15px;
   padding: 5% 0% 5% 0%;
   text-align: center;
}
.sous-titre button{
    background-color: orangered;
    padding: 5% 0% 5% 0%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
    border-radius: 15px;
}
.affiche{
    background-color: white;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 5% 10% 5% 10%;
    text-align: center;
}
.annonce{
    background-color: orangered;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0% 0% 5% 0%;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    box-shadow: 1 0 0(0,0,0,0.1);
}
.plats{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: white;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 5% 5% 2% 1%;
    text-align: center;
    
}

.plats p{
    background-color: orangered;
    padding: 5% 5% 5% 5%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-align: center;
}
.p img{
    padding: 5% 5% 5% 5%;
    width: 400px;
    height: 600pw;
    border: 2px solid orangered;
    border-radius: 15px;
    border-radius: 50px;
}